/* colors 5DEBD7  1679AB 074173*/
.nav-bar-container{
  background-color: #133E87;
  height: 70px;
  display: flex;
  color: #FCCD2A;
  padding: 5px;
  position: fixed;
  width: 100%;
}

body {
  background-color: #FCFAEE;
}

.posts-container{
  margin-left: 200px;
  padding: 40px;
}

.post-container{
  width: 280px;
  height: 320px;
  padding: 10px;
  margin-left: 30px;
  background-color: #FFFDB5;
  box-shadow: .5px 0px 1.5px 0px;
  align-items: flex-start;
  cursor: pointer;
  border-radius: 5px;
  float: left;
}

.post-container:hover{
  box-shadow: 3px 5px 8px 0px;
}

.post-container p {
  text-align: left; 
  width: 100%; 
  word-wrap: break-word; 
  margin: 0; 

}


.post-container img{
  width: 280px;
  height: 180px;
}

.page-navigation-container{
  margin-top: 80px;
  width: 220px;
  height: 100%;
  float: left;
  position: fixed;
  box-shadow: 0 4px 8px 0;
  padding: 3px;

}

.path-choice-container{
  font-size: 1rem;
  cursor: pointer;
}

.path-choice-container:hover{
  color: rgb(59, 57, 57);
}

.description-container{
  margin-left: 300px;
  padding: 10px;
}

.feature-description-container{
  margin-top: 100px;
}

.home-description{
  padding-top: 100px;
}